Repository lexicaldream/react: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, alejandra, eslint

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true
  priority: 2

alejandra:
  run: alejandra {staged_files}
  stage_fixed: true
  priority: 3

eslint:
  run: eslint {staged_files}
  priority: 4

update link hook
  lefthook.yml
Due: none

repository wrangling
  .github/workflows/publish.yml
  .gitignore
  flake.lock
  flake.nix
  lefthook.yml
  lib/index.d.ts
  lib/index.d.ts.map
  lib/index.js
  lib/memo.d.ts
  lib/memo.d.ts.map
  lib/memo.js
  lock.json
  package-lock.json
  package.json
  src/index.ts
  src/memo.ts
  tsconfig.json
Due: prettier, alejandra, eslint

quieten npm pack
  lefthook.yml
Due: none

add NODE_AUTH_TOKEN to publish workflow
  .github/workflows/publish.yml
Due: none

add tag check for publish job
  .github/workflows/publish.yml
Due: none

tweaks
  package.json
  src/index.ts
  src/memo.ts
  tsconfig.json
Due: prettier, eslint

gitignore lib
  .gitignore
  lib/index.d.ts
  lib/index.d.ts.map
  lib/index.js
  lib/memo.d.ts
  lib/memo.d.ts.map
  lib/memo.js
Due: prettier

ci: call nix develop directly
  .github/workflows/publish.yml
Due: none

add missing ci-test command
  flake.nix
Due: alejandra

ci: update to actions/checkoutv4
  .github/workflows/publish.yml
Due: none

Add mem function
  src/memo.ts
Due: prettier, eslint

fix exports
  package.json
Due: none

remove redundant hook line
  lefthook.yml
Due: none

export different names
  src/index.ts
Due: prettier, eslint

move memo into index
  package.json
  src/index.ts
  src/memo.ts
Due: prettier, eslint

change module type
  package-lock.json
  tsconfig.json
Due: none

add react-hyperscript style functions
  src/index.ts
Due: prettier, eslint

write h_ to produce delayed nodes
  src/index.ts
Due: prettier, eslint

bump version
  package.json
Due: none

rewrite h and h_ to allow Delay children
  src/index.ts
Due: prettier, eslint

LazyElement
  .eslintrc.cjs
  flake.nix
  lib/.npmignore
  package-lock.json
  package.json
  src/.npmignore
  src/index.ts
  src/lazy/__test__.ts
  src/lazy/index.ts
  src/types/CreateElement.ts
  src/types/CreateLazyElement.ts
  src/types/LazyElement.ts
  src/types/LazyNode.ts
  src/types/Required.ts
  src/types/index.ts
Due: prettier, alejandra, eslint

Remove typescript from flake because one in node_modules is newer
  flake.nix
Due: alejandra

Better organisation and tests
  .eslintrc.cjs
  flake.nix
  package-lock.json
  package.json
  src/createElement/index.test-d.ts
  src/createElement/index.ts
  src/createLazyElement/LazyElement.ts
  src/createLazyElement/LazyNode.ts
  src/createLazyElement/index.test-d.ts
  src/createLazyElement/index.ts
  src/lazy/index.ts
  src/syntax/__test__.ts
  src/syntax/index.ts
  src/types/CreateLazyElement.ts
  src/types/Required.ts
  src/types/index.ts
  tsconfig.json
Due: prettier, alejandra, eslint

Use types to protect against list items without keys
  src/createElement/index.test-d.ts
  src/createElement/index.ts
  src/createLazyElement/index.test-d.ts
  src/createLazyElement/index.ts
  src/syntax/index.ts
  src/types/index.ts
Due: prettier, eslint

createLazyElement: prevent extra props being passed
  flake.nix
  src/createElement/index.ts
  src/createLazyElement/index.test-d.ts
  src/createLazyElement/index.ts
  src/types/index.ts
Due: prettier, alejandra, eslint

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx}
  alejandra: any of: *.nix
  eslint: any of: *.{ts,tsx}, but not: lib/.*
